* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}

.container {
    background-image: url("pexels-polina-kovaleva-5717463.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
}

.list h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.add {
    border: none;
    border-radius: 10px;
    background-color: rgb(7, 85, 240);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

ul li {
    position: relative;
    padding: 10px;
    cursor: pointer;
}

ul li.checked {
    text-decoration: line-through;
    color: #555;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #ababac;
}
